.lsc-container {
    display: flex;
    height: 600px;
    border: 1px solid #ccc;
}

.lsc-user-list {
    width: 25%;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    list-style-type: none;
    font-size: 22px;
    font-family: -webkit-body;
    margin-top:0px;
    padding: 0px;

}

.lsc-chat-window {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#lsc-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid #000000;
    margin-bottom: 5px;
}

#lsc-message-input {
    width: 100%;
    padding: 10px;
}

.message-self {
    text-align: right;
    background-color: #0aa500;
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

div.message-self {
    max-width: 75%;
    width: fit-content;
    text-align: right;
    border-radius: 30px 0px 30px 30px;
    padding-right: 14px;
    float: right;
    clear: both;
}

.message-other {
    background-color: #c7c7c7;
    padding: 8px;
    margin: 5px 0;
    text-align: left;
    max-width: 75%;
    width: fit-content;
    border-radius: 0px 0px 0px 30px;
    padding-left: 14px;
    float: left;
    clear: both;
}

h4.heading {
    text-align: center;
    background: #0aa500;
    color: #fff;
    margin: 0px;
}

ul#lsc-users {
    list-style-type: none;
    font-size: 22px;
    font-family: -webkit-body;
    margin-top: 10px;
}

ul#lsc-users li label {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.send_message_tools {
    display: flex;
    column-gap: 5px;
    align-items: flex-end;
    border: none;
    position: relative;
}
input#imageInput {
    display: none;
}




img.emoji {
    cursor: pointer;
}

.send_emoji {
    font-size: 32px;
    right: 80px;
    position: absolute;
    z-index: 999;
}


  /* Modal Content */
  #emojiPopup {
    position: fixed;
    top: 100px;
    z-index: 999899;
    display: none;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-0px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-0px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    color:red;
    text-decoration: none;
    cursor: pointer;
  }  
.emojiContainer {padding: 2px 16px;}
  


.lsc-chat-window .delete_msg {
    display: none;
}
.message-self {
    position:relative;
}
.lsc-chat-window .message-self:hover .delete_msg {
    display: inline-block;
    cursor:pointer;
    position:absolute;
    bottom:-20px;
    left:10px;
    color:#fff;
   z-index:99;
   background-color: red; 
   padding:0 5px;
   border-radius:0px 20px 20px 20px;
}